{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <!-- <p class="text-secondary">{{ current_user.email }}</p> -->
    </div>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.health.label(class="form-control-label") }}

            {% if form.health.errors %}
              {{ form.health(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback" >
                {% for error in form.health.errors %}
                  <span>{{ error }} </span>
                {% endfor %}
              </div>
              {% else %}
                 {{ form.health(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          
          <div class="form-group">
            {{ form.h_comment.label(class="form-control-label") }}
            {% if form.h_comment.errors %}
              {{ form.h_comment(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.h_comment.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.h_comment(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.employment.label(class="form-control-label") }}
            {% if form.employment.errors %}
              {{ form.employment(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.employment.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.employment(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.e_comment.label(class="form-control-label") }}
            {% if form.e_comment.errors %}
              {{ form.e_comment(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.e_comment.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.e_comment(class="form-control form-control-lg") }}
            {% endif %}
          </div>

        </fieldset>

        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

  </div>
{% endblock content %}












