{% extends "layout.html" %}
{% block content %}


	<h2>Info Page</h2>
		<p>Current government coronavirus (COVID-19) advice is that anyone who can work effectively from home should do so. </p>
		<p>For workplaces that are open, everyone should:
			<ul>
				 <li>follow government guidance on making the workplace safe</li>
 				 <li>avoid busy commuting times on public transport where travel is essential, and wear a face covering unless they're exempt</li>
 				 <li>wash their hands regularly</li>
			</ul>
		</p>

		<p>IMPORTANT: You must not go to work if you or anyone in your household has symptoms.</p>
	
	<p><h3>Important Links:</h3></p>
		<p><a href="https://www.gov.uk/coronavirus">Governmental Updates</a></p>
		<p><a href="https://www.citizensadvice.org.uk/work/coronavirus-if-youre-worried-about-working/?priority-taxon=5ebf285a-9165-476c-be90-66b9729f50da">Workplace guidelines</a></p>
		<p><a href="https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-employed-and-cannot-work?priority-taxon=5ebf285a-9165-476c-be90-66b9729f50da">Financial Support</a></p>
		<p><a href="https://www.gov.uk/government/publications/coronavirus-covid-19-meeting-with-others-safely-social-distancing/coronavirus-covid-19-meeting-with-others-safely-social-distancing?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Getting to work safely</a></p>
		<p><a href="https://www.gov.uk/tax-relief-for-employees/working-at-home?priority-taxon=5ebf285a-9165-476c-be90-66b9729f50da">Working from home</a></p>


{% endblock content %}